body{
    font-family: Graphik, serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a:visited {

    color: white;
}
button {
    transition: transform .2s linear;
}

button:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
    z-index: 10;
}
button:active{
    background-color: #3f8054;;
}
button, li, img, .services_inner, .work_inner {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background-color: #235f51;

}

/*first*/
.container_first {
    width: 100%;
    border-top: 5px solid #76C38F;
    height: 600px;

}


.container_inner {
    max-width: 960px;
    margin: 0 auto;

}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.nav {
    font-size: 13px;
    color: white;
    vertical-align: bottom;
    height: 83px;
    justify-content: space-between;
    align-items: flex-end;
}

.nav_title {
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 12px;
    font-size: 28px;
}

ul {
    margin: 0;
    padding: 0;
}

.nav-list {
    text-transform: uppercase;
    list-style-type: none;

}

.nav-list-element {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s linear;
}

.nav-list-element:hover {
    background-color: #76C38F;
}

.nav-list-element:first-child {
    margin: 0;

}


/*title*/
.slider {
    margin-top: 42px;
    align-items: center;

}

.image_holder {
    margin: 0 45px 0 90px;
    box-sizing: border-box;
    overflow: hidden;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border: 25px solid #707070;
}

.title_block {
    margin-left: 45px;
    width: 320px;
}

.title_block h1 {
    color: white;
    font-size: 46px;
}

.title_block p {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #979797;
    font-size: 12px;
}

.title_block_button {
    color: white;
    background-color: #76C38F;
    padding: 10px 15px;
}

@media (max-width: 1023px) {

    .flex_container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .container_inner {
        width: 80%;
    }

    .container_first {
        height: 100%;
    }

    .image_holder {
        display: none;
    }
}
@media (max-width:810px)
{
    .nav-list{
        display: none;
    }
    .title_block{
        text-align: center;
        margin: 0;
    }
    .slider img{
        display: none;
    }
    .title_block_button{
        padding: 15px 0;
        width: 80%;
    }

}

/*container_second*/
.services {

    margin: 60px 0 40px 0;
}

.services_inner {
    box-sizing: border-box;
    padding: 20px 30px;
    width: 225px;
    height: 305px;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s linear;
}

.services_inner:hover {
    background-color: #76C38F;
}

.services_inner_img {
    margin: 0 auto;
    width: 120px;
    height: 120px;
}

.services_inner_title {
    text-transform: uppercase;
    font-size: 32px;
}

.services_inner_subtitle {
    font-size: 12px;
}

.container_second_title {
    position: relative;
    width: 100%;
}

.container_second_title_inner {
    background-color: rgb(48, 48, 48);
    color: white;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 256px;
    height: 48px;
    font-size: 32px;
    border-radius: 15px;
    line-height: 48px;
}

.line {
    background-color: #303030;
    width: 100%;
    height: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
}

.work {

    margin-top: 30px;
    margin-bottom: 60px;
}

.work_inner {
    width: 300px;
    height: 200px;
    border: 5px solid white;
    box-sizing: border-box;
    position: relative;
    transition: all 0.3s linear;
    margin-bottom: 30px;
}

.work_inner:hover {
    border-color: #76C38F;
}

.work_inner:hover .work_inner_subtitle {
    opacity: 0;
}


.work_inner_subtitle {
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    transition: all 0.3s linear;
}

@media (max-width: 1023px) {
    .services {
        margin-bottom: 0;
    }

    .services_inner {
        margin-bottom: 30px;
    }

    .work {
        margin-bottom: 0;
    }

    .services {
        margin-bottom: 0;
    }

    .services_inner {
        margin-bottom: 30px;
    }
}

@media (max-width: 749px) {
    .work_inner {
        width: 90%;
    }
}

@media (max-width: 559px) {
    .services_inner {
        width: 90%;
    }
}

/*
third*/
.container_third {
    width: 100%;
    height: 387px;
    background-color: #303030;
}

.footer_flex {
    padding-top: 37px;

}

.footer_flex_inner {
    width: 225px;
    text-align: left;
    color: white;
}

.blog p:nth-child(1) {
    font-size: 16px;
    color: white;
    margin-bottom: 31px;

}

.blog p:nth-child(2) {
    font-size: 13px;
    color: #76C38F;
    margin-bottom: 13px;

}

.blog p:nth-child(3) span {
    font-size: 10px;
    color: #76C38F;

}

.blog p:nth-child(3) {
    font-size: 10px;
    color: #979797;
    margin-bottom: 10px;
}

.blog p:nth-child(4) {
    font-size: 10px;
    color: #979797;
    margin-bottom: 13px;
}

.blog p:nth-child(5) {
    font-size: 13px;
    color: #979797;
    height: 154px;
    line-height: 1.6;
}

.blog p:nth-child(6) {
    font-size: 13px;
    color: #76C38F;

}


.links > p {
    font-size: 16px;
    line-height: 1.2;
    color: white;
    margin-bottom: 34px;
}

.links li {
    color: #76C38F;
    margin-top: 15px;
    margin-left: 10px;
    list-style-type: none;
    position: relative;
}

.links li:before {
    content: "";
    height: 5px;
    width: 5px;
    top: 50%;
    left: -10px;
    background-image: url("../assets/Composite Path.png");
    position: absolute;
    transform: translate(0, -50%);

}

.links li:after {
    content: "";
    height: 1px;
    width: 225px;
    left: -10px;
    bottom: -3px;
    background-color: #404040;
    position: absolute;


}

.tweets p:nth-child(1) {
    font-size: 16px;
    line-height: 1.2;
    color: white;
    margin-bottom: 20px;
}

.tweets p {
    font-size: 13px;
    color: #979797;
    line-height: 1.6;
    margin-bottom: 13px;
}

.tweets p span {
    color: rgb(118, 195, 142);
}

.contact p {
    font-size: 16px;
    line-height: 1.2;
    color: white;
    margin-bottom: 30px;
}

.contact input, textarea {
    color: white;
    border: 0;
    line-height: 1.2;
    width: 100%;
    font-size: 13px;
    height: 35px;
    background-color: #222222;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;

}

.contact input, textarea, button {
    border-radius: 10px;
    border: 0;
}

textarea {
    resize: none;
    height: 80px;
}

::placeholder {
    color: #989898;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.contact_button {
    background-color: #76C38F;
    padding: 10px 15px;
}
@media (max-width: 1023px) {
  .container_third{
        height: 100%;
  }
    .footer_flex_inner{
        margin-bottom: 30px;
    }
}
@media (max-width: 562px) {
    .footer_flex_inner {

        width: 90%;
    }

    .footer_flex_inner p:first-child {
        text-align: center;
    }

    .links,.contact{
        text-align: center;
    }
    .links li:before{
     display: none;
    }
    .links li:after{
      width: 100%;
    }
    .contact_button{
        padding: 15px 0;
        width: 100%;
    }

}
/*-------------------*/
    .footer_line {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.copyright_container {
    color: #979797;
    height: 60px;
    border-top: 1px solid #3A3A3A;
    width: 100%;
    background-color: #2B2B2B;
}

.copyright_container_inner {
    height: 100%;
text-align: center;
    align-items: center;
}
