
*, *:before, *:after {
    box-sizing: border-box; /*рассчитывает размер блока с учетом padding*/
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.increase {
    transition: transform .2s linear;
}

.increase:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

body {
    font-family: 'Lato', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

/*nav-------------------------------------*/


.nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    letter-spacing: 3px;
    padding: 12px 10px;
}

.nav_title {
    color: black;
    cursor: pointer;
}

.nav_title span {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav-list-element {

    cursor: pointer;
    margin-left: 50px;
    color: #000000;

}

.nav-list-element:hover {
    opacity: 1;
}

.shadow_nav {
    top: 0;
    position: fixed;
    height: 44px;
    width: 100%;
    box-shadow: 0 -9px 8px -5px rgba(0, 0, 0, 0.3) inset;
    z-index: 0;
}


.main {
    width: 84%;
    margin: 42px 8% 0 8%;
}

.header_burger {
    display: none;
}

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

}

.burger_list {
    display: none;
}

@media (max-width: 767px) {

    .header_burger {
        position: relative;
        display: block;
        height: 16px;
        width: 25px;
    }

    .header_burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 7px;
        background-color: #000000;
        transition: all 0.5s linear;
    }

    .nav {
        width: 84%;
        margin: 0 8%;
        transition: all 0.6s linear 0.3s;
    }

    .main {
        transition: all 0.6s linear 0.3s;
        width: 92%;
        margin: 42px 4% 0 4%;
    }

    .header_burger:before,
    .header_burger:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        left: 0;
        transition: all 0.3s linear;

    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .nav-list {
        display: none;
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 7px;
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 7px;
    }

    .burger_list {
        position: fixed;
        font-size: 20px;
        height: 100%;
        width: 20%;
        z-index: 100;
        margin: 0 -20% 0 0;
        top: 0;
        right: 0;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
        background-color: #6a92dd;
        list-style-type: none;
        transition: all 0.6s linear 0.3s;
    }

    .burger_list.active {

        margin: 0;
    }

    .burger_list li {
        margin-bottom: 35px;
    }

    .burger_list li:first-child {
        margin-top: 80px;
    }

    .main.active {
      margin-left: -16%;
    }

    nav.active {
        width: 64%;
    }
}

/*intro------------------*/
.intro {

    background: #ba152f url('../assets/background.png') center no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
    position: relative;

}


.intro_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.logo_title {
    cursor: pointer;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
}

.logo_title span:first-child {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid black;
    padding: 7px 10px 5px 13px;
    margin-right: 4px;

}

.logo_title span:last-child {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

@media (max-width: 767px) {

}

/*<!--projects-->*/
.section_projects h3 {
    margin: 40px 0;
}

.projects_container {
    display: flex;
    width: 100%;

}

.projects_container_inner {
    width: 25%;
    position: relative;
    padding-right: 1%;
    padding-bottom: 1%;
}

.projects_container_inner:last-child {

    margin-right: 0;
}


.projects_container_inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.house_description {
    color: white;
    background-color: #000000;
    text-align: center;
    padding: 2% 0;
    font-size: 12px;
    width: 70%;
    position: absolute;
}

@media (max-width: 767px) {
    .projects_container {
        flex-wrap: wrap;
    }

    .projects_container_inner {
        width: 50%;
    }
}

/*<!--about-->*/
.section_about h3 {
    margin: 7% 0 2% 0;
}

.section_about p {

}

.about_container {
    display: flex;
    margin-top: 4%;

}

.about_container_inner {
    position: relative;
    padding-right: 1%;
    padding-bottom: 1%;
    width: 25%;
}

.about_container_inner:last-child {
    margin-right: 0;
    margin-bottom: 1%;
}

.about_container_inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_container_inner h3 {
    margin: 2% 0 0 0;
    font-size: 20px;
}

.about_container_inner h4 {
    margin: 6% 0;
    opacity: 0.7;
    font-size: 15px;
}

.about_container_inner button {
    width: 100%;
    border: none;
    margin-top: 4%;
    background-color: #000000;
    padding: 2% 0;

}

.about_container_inner button span {
    text-align: center;
    color: white;
    opacity: 0.8;
    font-size: 13px;
}


@media (max-width: 767px) {

    .section_about {
        width: 100%;
        text-align: center;
    }

    .about {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        margin-bottom: 5%;
    }

    .about_container {
        flex-wrap: wrap;
    }

    .about_container_inner {
        width: 50%;
    }
}

/*<!--contact-->*/
.section_contact h3 {
    margin-top: 4%;
}

.section_contact p {
    margin: 2% 0;
}

.section_contact form {
    display: flex;
    flex-direction: column;

}
.section_contact form label{
    width: 100%;
}
.section_contact form input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #1d1d1d;

    padding: 10px;
}

.section_contact form button {
    border: 0;
    background-color: #000000;
    color: white;
    text-align: center;
    width: 120px;
    margin-top: 20px;
    padding: 5px 0;
}

.section_contact span {
    text-transform: uppercase;
    font-size: 12px;
}

@media (max-width: 767px) {

    .section_contact {
        width: 100%;
        text-align: center;
    }
    .section_contact form button {

        width: 24%;

    }
    .section_contact form button{
        width: 100%;
        padding: 5px 0;
        margin-top: 20px;
    }
}

/*<!--map-->*/

.map {
    margin-top: 2%;
}

/*<!--footer-->*/

.footer {
    margin: -5px;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    z-index: 4;

}

.footer_text {
    color: white;
    position: relative;
    letter-spacing: 2px;
    font-size: 12px;
}

.footer_text:before {
    content: "©";
    right: -12px;
    top: -9px;
    position: absolute;
}
